.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.gallery__event{
    width: 138px;
    height: 242px;
    margin-bottom: 150px;
}
.event__image img{
    height:161px;
    width: 128px;
}