

<p class='failed'>
      <svg class='failed-svg'>
        <use href={{this.svgSprite}}#icon-denied></use>
      </svg>
      Sorry, we do not find the result of your search, try please later
      </p>