              <div class='modal-window__price-container'>
                {{this.standardPriceContainerText}}
                <button class="modal-window__btn" type="submit">
                  <a href={{this.ticketLink}} target="_blank">
                    <p class='modal-window__btn-text'>Buy Tickets</p>
                  </a>
                </button>
                </div >
                {{this.vipPriceContainer}}
              </div>



