<div class='modal-window__price-container'>
    {{this.vipPriceContainerText}}
    <button class="modal-window__btn" type="submit">
      <a href='${this.ticketLink}'>
        <p class='modal-window__btn-text'>Buy Tickets</p>
      </a>
    </button>
</div>

