$main-font: Roboto;
$logo-font: Raleway;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$line-height: 1.25;
$main-modal-font-size-high-screen: 16px;
$main-modal-font-size-low-screen: 12px;
