.footer .container {
  background-color: getColor('footer-bg-color');
  padding-bottom: 27px;
}
.footer__text {
  color: getColor('secondary-text');
  text-align: center;

  justify-content: center;
  padding-left: 25px;
}
.footer__heart {
  color: getColor('footer-heart-color');
}
