.footer .container {
  background-color: black;
  padding-bottom: 27px;
}
.footer__text {
  color: #939393;
  text-align: center;

  justify-content: center;
  padding-left: 25px;
}
.footer__heart {
  color: red;
}
