.container__gallery {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -51px;
  overflow: hidden;
background-image:url(../images/gallery-bg.png);
background-color: getColor('gallery-bg-color');
background-size:  contain;


  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    min-width: $tablet;
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and(min-width:$desktop){
    max-width: $desktop;
    min-width: $desktop;
  }

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
  margin-left: -14px;
  margin-top: -60px;
  margin-bottom: 60px;
  min-height: 2635px;
  position: relative;
  z-index: 0;
  visibility: hidden;

  @media screen and (min-width: $tablet) {
    min-width: $tablet;
    min-height: 2454px;
    margin-left: -14px;
    flex-wrap: wrap;
    margin-bottom: 60px;

  }
   @media screen and(min-width:$desktop) {
  min-width: $desktop;
  min-height: 1760px;
   margin-bottom: 80px;
  }

  &.shown {
    visibility: visible;
  }

}

.gallery__event {
  width: 138px;
  min-height: 242px;
  margin-left: 14px;
  margin-top: 39px;
  flex-basis: calc(100% / 2 - 14px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: $tablet) {
    margin-left: 14px;
    min-height: 312px;
    width: 194px;
    flex-basis: calc(100% / 3 - 14px);
    margin-top: 100px;
  }
   @media screen and(min-width:$desktop) {
    flex-basis: calc(100%/4 - 14px);
    min-height: 196px;
    margin-top: 50px;
    margin-bottom: 0px;
   }
}

.gallery__event::before {
  content: '';
  box-sizing: border-box;
  border: 1px solid getColor('gallery-border-color');
  height: 101px;
  width: 109px;
  border-radius: 50px 0px;
  position: absolute;
  top: -9px;
  right: -10px;

  @media screen and (min-width: $tablet) {
    right: 20px;
    height: 143px;
    width: 153px;
  }
   @media screen and(min-width:$desktop) {
     right: 40px;
   }
}

.event__image {
  height: 161px;
  width: 128px;
  box-sizing: border-box;
  border-radius: 50px 0px;

  @media screen and (min-width: $tablet) {
    min-width: 180px;
    min-height: 227px;
  }
    // &--container {
    //   overflow: hidden;
    //   border-radius: 50px 0;
    //   display: flex;
    //   justify-content: center;
    //   width: 180px;
    // }

}

.event__tittle {
  max-width: 138px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.214;
  letter-spacing: 0em;
  text-align: center;
  color: getColor('primary-title-text');
  margin-top: 5px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    max-width: 180px;
    line-height: 1.218;
  }

}

.event__date {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: getColor('primary-text');
  margin-top: 5px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.218;
  }
}

.event__place {
  max-width: 138px;
  color: getColor('primary-text');
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;

  @media screen and(min-width:$tablet) {
    max-width: 180px;
    font-size: 14px;
    line-height: 1.219;
  }
}

.event__place::before {
  display: inline-block;
  content: url('/images/location.svg');

}


.pagination__wrapper {
  display: flex;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style-type: none;
  margin-bottom: 60px;
}

.pagination__link button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: getColor('primary-text');
  cursor: pointer;

  @media screen and(min-width:$tablet) {
    font-size: 16px;
  }
}

.pagination__link--active button {
  width: 30px;
  height: 30px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  box-sizing: border-box;
  background-color: inherit;
  color: getColor('primary-title-text');
  border: 1px solid getColor('primary-title-text');
  border-radius: 10px 0px;
  cursor: pointer;

  @media screen and(min-width:$tablet) {
    font-size: 16px;
  }
}

.pagination__link--dots {
  padding-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.pagination__dots {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: bottom;
  color: getColor('primary-text');
  background-color: inherit;
  border: none;
  cursor: default;
  color: getColor('primary-text');

  @media screen and(min-width:$tablet) {
    font-size: 16px;
  }
}
