.header {
        background: (linear, left top, right top, from(#0b0b0b73), color-stop(50%, #0b0b0b80)),url(../images/bg.jpg);
    background: linear-gradient(
90deg
, #0b0b0b73 0%, #0b0b0b80 50%),url(../images/bg.jpg);
      
    background-repeat: no-repeat;
    height: 364px;
    
    position: relative;
  max-width: 320px;
  margin: 0 auto;
}
.header .container {
background: unset;

}
.header__title-text {
 width: 212px;
   color: #DC56C5;
    
    font-weight: 900;
    font-size: 18px;
    line-height: 1.222;
    text-align: center;
   position: absolute;
  top: 78px;
  left: 60px;
}
.search-bar__wrap {
    box-sizing: border-box;
    width: 270px;
    height: 40px;
    margin-top: 25px;
    padding: 10px 40px;
    
    
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    
}
.search-bar__wrap-drop{
  background-color: rgba(255,255,255,0.2);
}
.search-bar__input {
  position: absolute;
  left: 0px;
  top: 0px;
border: hidden;
    background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
   width: 270px;
    height: 40px;
    padding: 10px 40px;
    
    
}
.drop-down__item {
    list-style: none;
}
.drop-down__link {
  color:  #939393;  
  text-decoration: none;
}
.search-bar__icon {
  height: 12px;
  width: 12px;
  position: absolute;
  right: 30px;
  bottom: 13px;
}
.drop-down__icon {
  width: 10px;
  height: 15px;
  position: absolute;
  right: 30px;
}
.header__list{
  display: flex;
  flex-direction: column;
  
  

  
}
.header__search-bar {
  position: absolute;
  left: 25px;
  top: 123px;
}
