<section class="header">
  <div class="container">
    <picture class="header__list-item header__logo animate-logo">
      <source media="(min-width:1280px)" srcset="./images/logo-desktop.png">
      <source media="(min-width:768px)" srcset="./images/logo-tablet.png">
      <img src="./images/logo-mobile.png" alt="Flowers" style="width:auto;">
    </picture>
    <div class="header__list-item header__title">
      <h1 class="header__title-text">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>
    <ul class="header__list list">
      <li class="header__list-item header__search-bar">
        <form class="search-bar__form">
          <div class="search-bar__wrap animate-right">
            <input
              class="search-bar__input"
              type="text"
              id="event-search"
              placeholder="Start searching"
              maxlength="20"
              autocomplete="off"
            />
            <svg class="search-bar__icon">
              <use href="./images/svg/symbol-defs.svg#icon-search"></use>
            </svg>
          </div>
          <div class="search-bar__wrap search-bar__wrap-drop animate-left">
            <select class="country">
              <option value="">Choose country:</option>
              <option value="us">America</option>
              <option value="au">Australia</option>
              <option value="at">Austria</option>
              <option value="be">Belgium</option>
              <option value="ca">Canada</option>
              <option value="cz">Czech Republic</option>
              <option value="dk">Denmark</option>
              <option value="fi">Finland</option>
              <option value="fr">France</option>
              <option value="de">Germany</option>
              <option value="gb">Great Britain</option>
              <option value="ie">Ireland</option>
              <option value="it">Italy</option>
              <option value="mx">Mexico</option>
              <option value="nl">Netherlands</option>
              <option value="nz">New Zealand</option>
              <option value="nd">Northern Ireland</option>
              <option value="pl">Poland</option>
              <option value="rs">Serbia</option>
              <option value="es">Spain</option>
              <option value="ch">Switzerland</option>
            </select>
            <svg class="drop-down__icon">
              <use href="./images/svg/symbol-defs.svg#icon-triangle"></use>
            </svg>
          </div>
        </form>
      </li>
    </ul>
  </div>
  <div class="background-gradient"></div>
</section>
