 <section class="header">
      <div class="container">
        <ul class="header__list list">
          <li class="header__list-item header__logo">
            <img src="images/logo.png">
          </li>
          <li class="header__list-item header__title">
            <h1 class="header__title-text">FIND BEST EVENTS AROUND THE WORLD</h1>
          </li>
          <li class="header__list-item header__search-bar">
            <form class="search-bar__form">
              <div class="search-bar__wrap">
                <input class="search-bar__input" type="text" id="event-search" placeholder="Start searching" maxlength="20" />
                <svg class="search-bar__icon"><use href="images/svg/symbol-defs.svg#icon-search"></use></svg>
              </div>
              <div class="search-bar__wrap search-bar__wrap-drop">
                <ul class="drop-down" id="scroll">
                  <li class="drop-down__item">
                    <a class="drop-down__link" href="#" id="drop"> Choose country </a>
                    <svg class="drop-down__icon"><use href="images/svg/symbol-defs.svg#icon-triangle"></use></svg>
                  </li>
                </ul>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="background-gradient"></div>
    </section>